doctype html
html
    head
        script(type='text/javascript' src='lib/underscore/underscore-min.js')
        script(type='text/javascript' src='lib/jquery/dist/jquery.min.js')
        script(type='text/javascript' src='lib/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript' src='lib/vue/dist/vue.js')
        script(type='text/javascript' data-main='scripts/app.js' src='lib/requirejs/require.js')
        link(rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='style.css')
    body
        .container
            .row
                .col-md-3
                    .score
                        span Текущий счет
                        span.float-right 3:3
                    .player(v-class='active: active' v-repeat='game.players')
                        h3(v-if='game.state.name != "new"' style='color: {{color}}') {{name}}
                        input.form-control(v-model='name' v-if='game.state.name == "new"')
                        h4 {{timer}}
                        div Побед: {{wins}}
                        div
                            |Взял:
                            span(v-if='game.board') {{game.board.figures | killed}}
                    button.btn.btn-default.btn-block.btn-lg(v-on='click: new_click') Начать заново
                .col-md-9.board-col
                    .board
                        .board-cell(class='{{color}}' style='top:{{row | position}}; left:{{col | position}};' v-repeat='game.board.fields' v-on='click: cell_click')
                        .figure(class='{{type}}' v-class='selected: selected, killed: isKilled, attacked: isAttacked' style='top:{{field.row | position}}; left:{{field.col | position}}; background: {{player.color}}' v-repeat='game.board.figures' v-on='click: select_figure')
                        .board-overlay(v-if='game.state.name == "new" || game.state.name == "gameover"')
                            .text(v-if='game.state.name == "new"' v-on='click: play1_click')
                                h3 Новая игра
                                br
                                span Кликните для начала игры
                            .text(v-show='gameover' v-on='click: new_click')
                                h3 Игра закончена
                                br
                                span Победил {{winner}}
