doctype html
html
    head
        script(type='text/javascript' src='lib/underscore/underscore-min.js')
        script(type='text/javascript' src='lib/jquery/dist/jquery.min.js')
        script(type='text/javascript' src='lib/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript' src='lib/vue/dist/vue.js')
        script(type='text/javascript' src='board.js')
        script(type='text/javascript' src='vue.js')
        link(rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='style.css')
    body
        .container
            .panel.panel-default
                .panel-body
                    .row
                        .col-md-3
                            .score
                                span Текущий счет
                                span.float-right 3:3
                            .player(v-repeat='players')
                                h3(v-if='stateNotNew') {{name}}
                                input.form-control(v-model='name' v-if='stateNew')
                                h4 00:00
                                div 5
                            button.btn.btn-default.btn-block.btn-lg(v-on='click: new_click') Начать заново
                            button.btn.btn-default.btn-block.btn-lg(v-on='click: play_click') Играть
                        .col-md-9.board-col
                            .board
                                .board-cell(class='{{color}}' style='top:{{x | position}}; left:{{y | position}};' v-repeat='board.fields')
                                .figure(class='{{type}} {{color}}' style='top:{{field.x | position}}; left:{{field.y | position}};' v-repeat='board.figures')
                                .board-overlay(v-if='stateNew')
                                    .text(v-on='click: play_click')
                                        h3 Добро пожаловать!
                                        br
                                        span Кликните для начала игры
