doctype html
html
    head
        script(type='text/javascript' src='lib/mocha/mocha.js')
        script(type='text/javascript' src='lib/chai/chai.js')
        script(type='text/javascript' src='lib/underscore/underscore-min.js')
        script(type='text/javascript' data-main='scripts/test.js' src='lib/requirejs/require.js')
        link(rel='stylesheet' href='lib/mocha/mocha.css')
        #mocha
